.client .top {
    padding: 10px 50px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.client .top .btn{

}
.client .top .btn > button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}
.client .top .search{
}
.client .top .search input{
    padding: 10px;
    border: none;
    background-color:rgb(5, 185, 170);
    border-radius: 5px;
    margin: 0 10px;
    outline: none;
    text-align: center;
    transition: 2s;
}
.client .top .search input:focus{

    background-color:rgb(8, 67, 95);
    border-radius: 5px;
    color: white;

}
.client .top .search input::placeholder {
    color: #d6d1d0;  /* Tomato color for the placeholder */
  }
.client .top .search select{
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.client .top .search select option{
    direction: ltr;
}